<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>
        <%= title %>
    </title>
</head>

<body onload="firstStart();">
    <header>
        <%-include("./header.ejs")%>
    </header>
    <main>
        <div class="signin" id="signin-form">
            <div class="form-layout">
                <div class="signin-logo">
                    <img src="/logo/logo.png" alt="logo.png" srcset="">
                </div>
                <div class="form">
                    <form action="/signin" method="post">
                        <div class="form-signin">
                            <input type="hidden" name="email" required>
                            <label for="email" style="display: none;">Email</label>
                            <input type="hidden" name="password" required>
                            <label for="password" style="display: none;">Password</label>
                            <div class="btns">
                                <a href="/signup" id="signup-back" style="visibility: hidden;" class="signup-btn">Signup</a>
                                <button type="submit" style="visibility: hidden;" class="signin-btn">Signin</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%-include("./footer.ejs")%>
            <script src="js/home.js"></script>
            <script>
                const head = document.getElementById("head");
                const foot = document.getElementById("footer");
                (function headFoot(){
                foot.classList.add("footer");
                head.classList.add("header");  
                return headFoot;  
                }());
            </script>
    </footer>
</body>

</html>