<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <header>
        <%- include("./header.ejs") %>
    </header>
    <main>
        <section>
            <div class="left">
                <img src="/background/backgound.jpg" alt="background.jpg">
            </div>
            <div class="box"></div>
            <div class="right">
                <form action="/signin" method="post">
                    <div class="signup-logo">
                        <img src="/logo/signin.png" alt="">
                    </div>
                    <div class="form-fields">
                        <label for="email">Email</label>
                        <input type="email" name="email" onclick="hello();">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                        <button class="btn-signin" type="submit"><i class="fa-solid fa-user-plus btn-icon"> Sign
                                In</i></button>
                    </div>

                </form>
                <div class="last">
                    <p>Don't have an account?</p>
                    <a class="signup" href="/signup"><i class="fa-solid fa-right-to-bracket btn-icon"> Sign Up</i></a>
                </div>
            </div>
        </section>
    </main>
    <%- include("./footer.ejs") %>
</body>
</html>