<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
    <link rel="stylesheet" href="/css/signup.css">
    <title>
        <%= title %>
    </title>
</head>

<body onload="firstStart();">
    <header>
        <%-include("./header.ejs")%>
    </header>
    <main>
        <div class="signup" id="signin-form">
            <div class="form-layout">
                <div class="signin-logo">
                    <img src="/logo/logo.png" alt="logo.png">
                </div>
                <div class="form">
                    <form action="/signup" method="post">
                        <div class="form-signup">
                            <div>
                                <input type="hidden" name="email" required>
                            <label for="email" style="display: none;">Email</label>
                            </div>
                            <div>
                                <input type="hidden" name="password" required>
                            <label for="password" style="display: none;">Password</label>
                            </div>
                            <div>
                                <input type="text" name="firstname" required>
                            <label for="firstname">First Name</label>
                            </div>
                            <div>
                                <input type="text" name="lastname" required>
                            <label for="lastname">Last Name</label>
                            </div>
                            <div>
                                <label for="gender" style="position: relative;">Gender </label>
                               <select name="gender" id="" required>
                                   <option value="male">Male</option>
                                   <option value="female">Female</option>
                               </select> 
                               
                            </div>
                            <div class="btns">
                                <button type="submit" style="visibility: hidden;" class="signup-btn">Signup</button>
                                <a href="/" class="signin-back">Signin</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%-include("./footer.ejs")%>
            <script src="js/signup.js"></script>
    </footer>
</body>

</html>