<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/photos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>
        <%= title %>
    </title>
    <%-include("../header.ejs")%>
    </header>
</head>
<body>
    <div class="main">
        <div class="photos">
            <div class="share">
                <span class="material-icons">trending_flat</span>
            </div>
            <img src="/images/doggo.jpg" alt="">
            <div class="commentSection">

            </div>
        </div>
    </div>
    <%-include("../footer.ejs")%>
</body>
<script>
    const head = document.getElementById("head");
    const foot = document.getElementById("footer");
    (function headFoot(){
    foot.classList.add("footer");
    head.classList.add("header");  
    return headFoot;  
    }());
</script>
</html>