@import "_mixings";
@import "_variables";
body{
    margin: 0px;
    padding: 0px;
}
.left-panel{
    display: flex;
    position: relative;
    width: 250px;
    height: inherit;
    margin-top: 62px;
    background:linear-gradient(50deg, lightgrey, rgb(135,201,240));
    opacity: 40%;
    .panel-options{
        @include flex-center($column);
        flex-direction: $column;
        margin-top: 100px;
        height: 100px;
        width: inherit;
        background:linear-gradient(50deg, lightgrey, rgb(135,201,240));
        font-size: 20px;
        a{
            text-decoration: none;
            
        }
        span{
            margin-left: 120px;
            font-family: monospace;
        }
        .post-tag{
            span{
                margin-left: 130px;
            }
            text-align: center;
            width: inherit;
            margin: 5px;
            font-weight: 900;
            &:hover{
                background-color: lightskyblue;
            }
            &:active::after{
                content: ">";
            }
        }
        .photo-tag{
            text-align: center;
            width: inherit;
            margin: 5px;
            font-weight: 900;
            &:hover{
                background-color: lightskyblue;
            }
            &:active::after{
                content: ">";
            }
        }
        .video-tag{
            text-align: center;
            width: inherit;
            margin: 5px;
            font-weight: 900;
            &:hover{
                background-color: lightskyblue;
            }
            &:active::after{
                content: ">";
            }
        }
    }
}


