@import "_variables";
.footer{
    
    // transition: all ease-in-out 2s;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    height: 4rem;
    width: 100%;
    background:linear-gradient(50deg, lightgrey, rgb(135,201,240));
}