@import "_mixings";
@import "_variables";
body{
    margin: 0px;
    padding: 0px;
}

.main{
    @include flex-center($column);
    height: 100%;
    width: 100%;
    border: 1px solid black;
    .photos{
        height: 610px;
        width: 410px;
        border: 2px solid black;
        border-radius: 1.2rem;
        margin: 6rem;
        background-image: none;
        .share{
            margin-top: 0.5rem;
            height: 20px;
            width: 400px;
            border: 1px solid gray;
        }
        img{
            height: 500px;
            width: 400px;
            margin: 0.8rem 0rem 0rem 0.3rem;
            border-radius: 1.1rem;
        }
        .commentSection{
            margin-top: 0.6rem;
            width: 400px;
            height: 45px;
            border: 2px solid red;
        }
    }
}