@import "_mixings";
@import "_variables";
body{
    margin: 0px;
    padding: 0px;
}

.main{
    /*@include flex-center($column);*/
    height: auto;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    margin-top: 4rem;
    margin-bottom: 0rem;
    
    background: radial-gradient(circle, rgba(187,149,166,1) 0%, rgba(148,187,233,1) 100%);
    /*background: linear-gradient(50deg, lightgrey, rgb(135,201,240));*/
   /* @media (min-width: 49vw) {
        .photos{
            height: 80vh;
        }
    }*/
    .left-panel{
        position: absolute;
        width: 250px;
        height: 100%;
        margin-top: 0rem;
        /*margin-right: 88.5vw;*/
        background-color: aqua;
        opacity: 80%;
        .panel-options{
            @include flex-center($column);
            flex-direction: $column;
            margin-top: 100px;
            height: 100px;
            width: inherit;
            background-color: aquamarine;
            font-size: 20px;
            a{
                text-decoration: none;
                
            }
            span{
                margin-left: 120px;
                font-family: monospace;
            }
            .post-tag{
                span{
                    margin-left: 130px;
                }
                text-align: center;
                width: inherit;
                margin: 5px;
                font-weight: 900;
                &:hover{
                    background-color: lightskyblue;
                }
                &:active::after{
                    content: ">";
                }
            }
            .photo-tag{
                text-align: center;
                width: inherit;
                margin: 5px;
                font-weight: 900;
                &:hover{
                    background-color: lightskyblue;
                }
                &:active::after{
                    content: ">";
                }
            }
            .video-tag{
                text-align: center;
                width: inherit;
                margin: 5px;
                font-weight: 900;
                &:hover{
                    background-color: lightskyblue;
                }
                &:active::after{
                    content: ">";
                }
            }
        }
    }
    .photo_posts{
        position: relative;
        height: auto;
        width: 60vw;
        border: 2px solid rgb(0, 0, 0);
        margin: 0vw 90vw 3vw 21.5vw;
        .photos{
            height: auto;
            width: 58vw;
            border: 2px solid black;
            border-radius: 1.2rem;
            box-shadow: 10px 10px 10px 10px slategray;
            margin-top: 2vw;
            background-image: none;
            .share{
                margin: 0.8vw 0vw 0vw 0.465vw;
                min-height: 2.3vw;
                width: 56.9vw;
                font-size: 2vw;
                /*border: 1px solid gray;*/
                .fa-long-arrow-alt-left{
                    float: left;
                    margin-left: 0.3vw;
                    margin-top: 0rem;
                }
                .fa-share-square{
                    margin: 0.1rem 0.2rem;
                    float: right;
                }
            }
            .image{
                height: 68vh;
                width: 57vw;
                margin: 0.3vw 0.46vw 0vw 0.46vw;
                border-radius: 1.1rem;
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: inherit;
                }
            }
            .commentSection{
                margin: 0.5vw 0vw 1vw 0.465vw;
                width: 56.9vw;
                height: 6vw;
                /*border: 1px solid red;*/
                .likemojis{
                    color: rgb(180,23,93);;
                    font-size: 2.3vw; 
                        .fa-heart{
                            float: left;
                            margin-top: 1.4rem;
                            margin-left: 0.5rem;
                            &:hover{
                                color:rgba(255, 0, 0, 0.493);
                            }
                        }
                    .fa-heart-broken{
                        float: right;
                        margin-top: 1.4rem;
                        margin-right: 0.5rem;
                        &:hover{
                            color:rgba(255, 0, 0, 0.575);
                        }
                    }
                }
                .dropdown{
                    margin: 1rem 4rem 1rem 10rem;
                    position: relative;
                    display: inline-block;
                }
                .dropbtn{
                    font-size: 2.3vw;
                    border: none;
                    outline: none;
                    background-color: inherit;
                }
                .dropdown-content{
                    display: flex;
                    position: absolute;
                    min-width: 200px;
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    i{
                    padding: 1rem;
                    position: relative;
                    display: inline-block;
                    font-size: 2.3vw;
                    }
                }
            }
        } 
    }
}